<p>
  {% if request.user.email %}
  Welcome to studyus_project, {{ request.user.email }}!
  {% else %}
  Welcome to studyus_project!
  {% endif %}
</p>

{% if request.user.email %}
  <a href="{% url 'account_logout' %}">Log out</a>
  <a href="{% url 'account_password' %}">Change password</a>
{% else %}
  <a href="{% url 'account_login' %}">Log in</a><br/>
  <a href="{% url 'account_signup_participant' %}">
    Create participant account</a><br/>
  <a href="{% url 'account_signup_participant' %}">Create researcher account</a>
{% endif %}
